<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="msg-section">
        <div class="container">
            <div class="msg-content">
                <h1 class="msg-title">{{msg}}</h1>
                <a href="{{link}}" class="msg-btn primary-btn {{show}}">{{linkTitle}}</a>
            </div>
        </div>
    </div>
</body>
</html>